   <!DOCTYPE html>
<html>
<head>
<title>CS111 Autograder Results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="grader.css" rel="stylesheet"/>
</head>
<body>

  <div class="container">
  <h1>{{psid}} Autochecker Results
    {% if studentname!='x' %}
    for {{ studentname }}
    {% endif %}</h1>
</div>

<div class="container">
  {% if showGrades %}
  <h3>Total score: {{totalscore}}/{{totalpossible}}</h3>
  {% endif %}
<div class="test">
<section>
<p>Click each question for a detailed analysis of passed and failed
test cases.
</p>


{% for q in questions %}
<div class="shortform">
  <button type="button" class="btn btn-{{q['correctness']}}" data-toggle="collapse" data-target="#q{{q['num']}}">Question {{q['num']}}
    {% if showGrades %}<span class="badge">{{q['badge']}}</span>{% endif %}
  </button>
</div>
  <div class="collapse" id="q{{q['num']}}">

{% if q['images'] %}
<h4 class="alert alert-info">Images</h4>
  {% for message in q['images'] %}
    {{message}}
  {% endfor %}
{% endif %}

{% if q['passedcases'] %}
<h4 class="alert alert-success">Passed</h4>
  {% for message in q['passedcases'] %}
    {{message}}
  {% endfor %}
{% endif %}

{% if q['failedcases'] %}
<h4 class="alert alert-danger">Failed</h4>
  {% for message in q['failedcases'] %}
    {{message}}
  {% endfor %}
{% endif %}

{% if q['hints'] %}
<div class="bs-callout bs-callout-info">
<h4>Hints</h4>
  {% for message in q['hints'] %}
    {{message}}
  {% endfor %}
</div>
{% endif %}

{% if q['undefined'] %}
<h4 class="alert alert-warning">Not Found</h4>
  {% for message in q['undefined'] %}
    {{message}}
  {% endfor %}
{% endif %}
  </div><!--collapse-->
  <!-- TODO: also show exception messages if any -->
</section>
<br>
{% endfor%}
</div><!--test-->
<div class="container">
  <p>This output is for your information only.
  You may fix mistakes and re-run the autochecker as many times as you like.
  Once you are satisfied with your code,
  turn it in by running <code>hwsubmit.py</code>.
</p>

{% if studentname=='x' %}
<p>
  It seems that your coversheet information is incomplete.
  Please fill it out before you make your final submission.
</p>
{% endif %}
</p>

</div>




</div><!--container-->

</body>
</html>
