<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<title>Anagram Generator: {% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container">
<h1>Welcome to the CS 111 Submission Server</h1>
<img src="static/images/wellesley_logo.jpg" style="float: right; width: 70px;">

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">
<hr>
Back to the <a href="cs111.cs.wellesley.edu">course homepage</a>.
</div>
</div>

</body>
</head>
