   <!DOCTYPE html>
<html>
<head>
<title>CS111 Problem Set Results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="http://cs111.wellesley.edu/content/autograderfiles/grader.css" rel="stylesheet"/>
</head>
<body>

  <div class="container">
  <h1>Otter Inspector <img src="http://cs111.wellesley.edu/content/autograderfiles/otter_inspector_small.png" class="otter"/></h1>
    <h2>Results
    {% if studentinfo is defined and studentinfo['YourFullName'] != '' %}
    for {{ studentinfo['YourFullName'] }}
    {% endif %}</h2>
</div>

<div class="container">
  <p><em>Legend:</em>
    <span class="label label-success">All correct</span>
    <span class="label label-warning">Partly correct</span>
    <span class="label label-danger">Incorrect</span>
    <!--<span class="label label-info">Images (ungraded)</span>-->
        </p>

  {% if showGrades %}
  <h3>Total score: {{totalscore}}/{{totalpossible}}</h3>
  {% endif %}

<div class="test">

<section>
<p>Click each question for a detailed analysis of passed and failed
test cases.
</p>


{% for q in questions %}
<div class="shortform">
  <button type="button" class="btn btn-{{q['correctness']}}" data-toggle="collapse" data-target="#q{{q['num']}}">
    <span class="glyphicon glyphicon-menu-down"></span>
    Question {{q['num']}}
    {% if showGrades or q['correctness']=='warning' %}<span class="badge">{{q['badge']}}</span>{% endif %}
  </button>
  </div>
  <div class="collapse" id="q{{q['num']}}">
<br>
<p>
  <a href="{{q['url']}}" target="_blank">Task description <span class="glyphicon glyphicon-share-alt"></span></a>
</p>
{% if q['images'] %}
<h4 class="alert alert-info">Images</h4>
{% for funcname in q['images'] %}
<h5><span class="label label-info">{{funcname}}</span></h5>
  {% for message in q['images'][funcname] %}
    {{message}}
  {% endfor %}
{% endfor %}
{% endif %}

{% if q['passedcases'] %}
<h4 class="alert alert-success">Passed</h4>
{% for funcname in q['passedcases'] %}
<h5><span class="label label-success">{{funcname}}</span></h5>
  {% for message in q['passedcases'][funcname] %}
    {{message}}
  {% endfor %}
{% endfor %}
{% endif %}

{% if q['failedcases'] %}
<h4 class="alert alert-danger">Failed</h4>
{% for funcname in q['failedcases'] %}
<h5><span class="label label-danger">{{funcname}}</span></h5>
  {% for message in q['failedcases'][funcname] %}
    {{message}}
  {% endfor %}
{% endfor %}
{% endif %}

{% if q['hints'] %}
<div class="bs-callout bs-callout-info">
<h4>Hints</h4>

<ul>
  {% for typeOfError in q['hints'] %}
    <li> {{ q['hints'][typeOfError] }} </li>
  {% endfor %}
</ul>

</div>
{% endif %}

{% if q['funcNotDefined'] %}
<h4 class="alert alert-warning">Not Found</h4>
  {% for message in q['funcNotDefined'] %}
    {{message}}
  {% endfor %}
{% endif %}

{% if q['moduleErrors'] %}
<h4 class="alert alert-danger">Syntax Errors</h4>
<p>Your code cannot be evaluated until all your syntax errors are fixed.
</p>

  {% for message in q['moduleErrors'] %}
      {{message}}
  {% endfor %}
{% endif %}


  </div><!--collapse-->

<br>
{% endfor%}

<div class="shortform">
  <button type="button" class="btn btn-{{coversheet['correctness']}}" data-toggle="collapse" data-target="#coversheet">
    <span class="glyphicon glyphicon-menu-down"></span>
    Honor Code Form
    {% if showGrades or coversheet['correctness'] == "warning"%}
    <span class="badge">{{coversheet['badge']}}</span>
    {% endif %}
  </button>
</div>

<div class="collapse" id="coversheet">

{% if studentinfo is not defined %}
  <h4 class="alert alert-danger">Missing</h4>

  <div class="panel panel-default"><div class="panel-body">
    It seems that your honor code form is formatted incorrectly.
    Please correct any errors before you make your final submission.
  </div></div> <!--panel-->

{% else %}

{% if studentinfo['filled'] != [] %}
    <h4 class="alert alert-success">Completed</h4>
<div class="panel panel-default"><div class="panel-body">
    <table class="table">
    {% for filledvalue in studentinfo['filled'] %}
        <tr>
          <th>{{ filledvalue }}</th>
          <td>{{ studentinfo[filledvalue] }}</td>
        </tr>
    {% endfor %}
  </table>
  </div></div> <!--panel-->
{% endif %}

{% if studentinfo['missing'] != [] %}
<h4 class="alert alert-danger">Missing</h4>
<p>
  You have not filled out the following values in your honor code form.
  Please complete them before you make your final submission.
</p>
<div class="panel panel-default"><div class="panel-body">
<ul>
  {% for missingvalue in studentinfo['missing'] %}
      <li> {{ missingvalue }}
  {% endfor %}
</ul>
</pre>
</div></div> <!--panel-->
{% endif %}

{% endif %}


</div> <!--coversheet-->

</section>
</div><!--test-->

<h3>Ready to submit?</h3>
  <p>This output is for your information only.
  You may fix mistakes and re-run the inspector as many times as you like.
  Once you are satisfied with your code,
  turn it in to your <code>drop</code> folder as instructed.
</p>



</div><!--container-->

</body>
</html>
